ul {
    display: flex;
    flex-direction: row;
    
    pointer-events: none;
    
}

nav ul {
    list-style-type: none;
    
    
}

li {
    
    font-family: "Raleway", serif;
    font-size: 1.5em;
    padding: 30px;
    
}

.navigationPrincipal_recherche-div{
    display: flex;
    flex-direction: row;

}


.navigationPrincipal__conteneurUL{
    display: flex;
    gap: 10px;
    color: #003249;
    gap: 30px;
}

.navigationPrincipal {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.navigationPrincipal__conteneurDIV {
    display: flex;
    flex-basis: 7.5ch;
    flex-shrink: 0;
    height: fit-content;
    width: fit-content;
}

.navigationPrincipal__image {
    display: flex;
    flex-wrap: wrap;
    
    width: 60px;
    height: fit-content;
    
}

.logo {
    min-width: 30px;
    min-height: 30px;
}


.navigationPrincipal_recherche {
    display: flex;
    
}

.navigationPrincipal_recherche-input {
    
    font-family: "Raleway", serif;
    font-size: 22px;
    
}




/*Navigation mobile*/

@media (max-width: 840px) {
    
    .navigationPrincipal {
        margin: 0;
        position: relative;
        inset: 0;
        
    }
    
    .navigationPrincipal__conteneurUL {
        flex-direction: column;
        
    }
    
    
    
    .navigationPrincipal__input.pour-ouvrir-fermer {
        margin-left: auto;
        appearance: none;
        cursor: pointer;
        pointer-events: all;
        display: block;
    }
    
    
    .navigationPrincipal:has(input.pour-ouvrir-fermer:not(:checked)) {
        pointer-events: none;
        background-color: transparent;
    }
    
    .navigationPrincipal:has(input.pour-ouvrir-fermer:not(:checked)) a {
        opacity: 0;
    }
    
    .navigationPrincipal__input.pour-ouvrir-fermer:before {
        display: block;
        min-width: 8ch;
        content: "Ouvrir ≡";
    }
    
    .navigationPrincipal__input.pour-ouvrir-fermer:checked:before {
        content: "Fermer ≡";
    }
    
    
    
    .navigationPrincipal_recherche-input {
        display: none;   
    }
    
    label {
        display: none;
    }
    
    
    
}

@media (min-width: 840px) {
    .navigationPrincipal__input.pour-ouvrir-fermer {
        display: none;
    }
    
    
}

.boutonNavigation {
    position: relative;
    top: 80px;
    left: 120px;
    width: fit-content;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    font-size: 17px;
    
}








